input {
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 5px;
  border: 1px solid gray;
  margin-right: 10px;
}

button {
  padding: 7px;
  border: 1px solid green;
  background-color: rgb(0, 166, 53);
  border-radius: 5px;
  color: #ffffff;
}

th {
  text-align: start;
  padding-top: 15px;
  padding-bottom: 15px;
}
